*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a{
  color:black;
  text-decoration: none!important;
}

ul,li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.screen_structure{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

//必須項目表記のレイアウト(after疑似要素)
.mandatory::after{
  content: "必須";
  background-color: rgb(255, 115, 35);
  font-size: 12px;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  margin-left: 10px;
  height: fit-content;
}

//バリデーションエラーとなった際のレイアウト
.field_with_errors{
  background-color: red;
}


//画面空白部分の高さ調整（設定を触らないでください）
main{
  flex-grow: 1;
}


//footerレイアウト
footer{
  background-color: #000;
  height: 180px;
  color: #fff;
  text-align: center;
  line-height: 180px;
  font-size: 14px;
}
