//headerレイアウト
header{
  background-color: #000;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 20px;
}

.header_search{
  display: flex;
}

.header_search_box{
  display: flex;
  align-items: center;
}

.header_search_form>button{
  background-color: #fff;
  padding: 7.5px;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header_search_form>input{
  height: 36px;
  width: 200px;
  font-size: 14px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 5px;
}

.header_search_form:last-of-type{
  margin-left: 10px;
}



//headerログイン/新規登録ボタン（current_user = nilの場合に表示）
.header_login>:first-of-type{
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(70, 150, 255);
  padding: 8px 12px;
  text-align: center;
  margin-top: 15px;
  transition: filter 0.5s;
}

.header_login>:last-of-type{
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(136, 136, 136);
  margin-left: 20px;
  padding: 8px 12px;
  transition: filter 0.5s;
}

.header_login>:first-of-type:hover{
  filter: brightness(120%);
}

.header_login>:last-of-type:hover{
  filter: brightness(120%);
}



//userログイン時のユーザー名/ユーザーイメージ画像レイアウト
.header_user_info{
  display: flex;
  justify-content: right;
  align-items: center;
}

.header_user_info>input{
  display: none;
}

.header_user_info>input:checked + label + div{
  display: block;
}

.header_user_info>p{
  margin: 0 30px 0 0;
  color: #fff;
  font-size: 16px;
}

.header_user_info>label{
  height: 100%;
  line-height: 100%;
}

.header_user_info>label>img{
  height: 90%;
  border-radius: 50px;
  margin-top: 5%;
}



//userログイン時のユーザーイメージ画像タップ時のユーザーメニューレイアウト
.header_user_menu{
  z-index: 10;
  background-color: #fff;
  width: fit-content;
  position: absolute;
  top: 70px;
  right: 0;
  display: none;
}

.header_user_menu>ul{
  padding: 30px 20px;
  margin: 0;
}

.header_user_menu>ul>li{
  margin-bottom: 10px;
}

.header_user_menu>ul>li:last-of-type{
  margin-bottom: 0px;
}

.header_user_menu>ul>li>a{
  color: #000;
}
