.reserve_result_container{
  max-width: 880px;
}

.reserve_result_field{
  justify-content: left;
}

.reserve_result_field>p{
  margin-top: auto;
  margin-bottom: auto;
}

.reserve_result_field>p:first-of-type{
  font-weight: bold;
  width: 200px;
}

.reserve_result_field:first-of-type{
  padding-left: 15px;
}
