//rooms/show画面レイアウト
//room詳細画面レイアウト
.show_container{
  display: flex;
  width: 100%;
  padding: 30px 120px;
}

.show_info{
  display: flex;
  flex-direction: column;
  max-width: 65%;
}

.show_info>img{
  width: 100%;
}

.show_info_room{
  height: 100px;
  border-bottom: 1px solid rgba(82, 82, 82, 0.1);
  margin-left: 10px;
}

.show_info_room_detail{
  display: flex;
  align-items: center;
}

.show_info_room_detail>img{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin: 10px 0;
}

.show_info_room_name{
  margin-left: 20px;
}

.show_info_room_name>h5{
  font-weight: bold;
  margin-top: 20px;
}

.show_info_room_introduce{
  line-height: 100px;
}


//reserve入力フォームレイアウト
.reserve_form{
  width: 100%;
  border: 2px solid rgba(82, 82, 82, 0.1);
  height: fit-content;
  margin-left: 20px;
  background-color: #fff;
}

.reserve_form>h5{
  padding: 20px 0 0 20px;
}

.reserve_form_field{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}

.reserve_form_field>label{
  color:rgb(82, 82, 82);
  font-size: 12px;
  margin-bottom: 5px;
}

.reserve_form_field>input{
  width: 100%;
}

.reserve_form_field{
  width: 100%;
}
